     <!-- 左侧导航栏 -->
     <div class="pageSidebar">
        <ul class="nav nav-stacked nav-pills">
             <li role="presentation">
                 <a href="/admin/box/boxIndex" target="mainFrame">主页</a>
             </li>
             <li role="presentation">
                 <a href="/admin/vip" target="mainFrame">会员管理</a>
             </li>
             <li role="presentation">
                 <a href="/admin/staff" target="mainFrame">员工管理</a>
             </li>
             <li class="dropdown">
                 <a class="dropdown-toggle" data-toggle="dropdown" href="nav4.html" target="mainFrame">数据查询<span class="caret"></span></a>
                 <ul class="dropdown-menu">
                     <li>
                         <a href="nav1.html" target="mainFrame">客流查询</a>
                     </li>
                     <li>
                         <a href="nav2.html" target="mainFrame">营收查询</a>
                     </li>
                 </ul>
             </li>
          
             <!-- 开始 -->
           <!-- <li class="dropdown">
                 <a class="dropdown-toggle" data-toggle="dropdown" href="nav4.html" target="mainFrame">个人设置<span class="caret"></span></a>
                 <ul class="dropdown-menu">
                     <li>
                         <a href="nav1.html" target="mainFrame">修改密码</a>
                     </li>
                     <li>
                         <a href="nav2.html" target="mainFrame">退出系统</a>
                     </li>
                     <li>
                         <a href="nav3.html" target="mainFrame">查看个人信息</a>
                     </li>
                 </ul>
             </li> -->
             <!--  结束 -->
             <!-- <li role="presentation">
                 <a href="nav5.html" target="mainFrame">权限设置</a>
             </li> -->
         </ul>
     </div>

      <!-- 左侧导航和正文内容的分隔线 -->
     <div class="splitter"></div>