     <script>
     	function vipPassCheck(){
     		var content = '<div>\n' +
     		'<form id="vipRechargeForm">'+
     		'<div class="form-group" style="margin-top:5%;">'+
     		    '<div class="col-sm-12">'+
     		   '<input type="password" class="form-control" id="pass" name="pass" placeholder="请输入密码"  autocomplete="off">'+
     		    '</div>'+
     		'</div>'+
     		'</form></div>';
     		var index = layer.open({
     			type: 1,
     			title: '密码验证',
     			area: ['400px', '200px'],
     			shadeClose: true, //点击遮罩关闭
     			content:content,
     			btn:['确定','取消'],
     			yes:function(){
     				var pass = $("#pass").val();
     				if(pass==null){
     					layer.msg("密码输入有误，请重试！");
     					return;
     				}
   					$.ajax({
   						type: "POST",
   						data: {password:$("#pass").val()},
   						url: "/admin/vip/checkVipPass",
   						dataType: "json",
   						success: function(data) {
   							if(data.success == false){
   								layer.msg(data.msg);
   							}else if(data.success == true){
   								layer.closeAll(layer.indexmen);
   								window.open("/admin/vip");
   								//window.location.href="/admin/vip"; 
   							}
   						}
   					});
     			},
     			btn2:function(){
     				layer.closeAll(index); //关闭当前窗口
     			}
     		});
     	}
     </script>
     <!-- 左侧导航栏 -->
     <div class="pageSidebar">
        <ul class="nav nav-stacked nav-pills">
             <li role="presentation">
                 <a href="/admin/box/boxIndex" target="mainFrame">主页</a>
             </li>
             <li role="presentation">
                 <a href="javascript:void(0);" onclick="vipPassCheck()" target="mainFrame">会员管理</a> <!-- href="/admin/vip" -->
             </li>
             <li role="presentation">
                 <a href="/admin/activity" target="mainFrame">活动管理</a>
             </li>
             <li role="presentation">
                 <a href="/admin/coupon" target="mainFrame">优惠券管理</a>
             </li>
             <li role="presentation">
                 <a href="/admin/staff" target="mainFrame">员工管理</a>
             </li>
             <li role="presentation">
                 <a href="/admin/subscribe" target="mainFrame">预订管理</a>
             </li>
             <li class="dropdown">
                 <a class="dropdown-toggle" data-toggle="dropdown" href="nav4.html" target="mainFrame">数据查询<span class="caret"></span></a>
                 <ul class="dropdown-menu">
                     <li>
                         <a href="/admin/query/passenger?sign=0" target="mainFrame">客流查询</a>
                     </li>
                     <li>
                         <a href="/admin/query/revenue?month=1" target="mainFrame">营收查询</a>
                     </li>
                 </ul>
             </li>
          
             <!-- 开始 -->
           <!-- <li class="dropdown">
                 <a class="dropdown-toggle" data-toggle="dropdown" href="nav4.html" target="mainFrame">个人设置<span class="caret"></span></a>
                 <ul class="dropdown-menu">
                     <li>
                         <a href="nav1.html" target="mainFrame">修改密码</a>
                     </li>
                     <li>
                         <a href="nav2.html" target="mainFrame">退出系统</a>
                     </li>
                     <li>
                         <a href="nav3.html" target="mainFrame">查看个人信息</a>
                     </li>
                 </ul>
             </li> -->
             <!--  结束 -->
             <!-- <li role="presentation">
                 <a href="nav5.html" target="mainFrame">权限设置</a>
             </li> -->
         </ul>
     </div>

      <!-- 左侧导航和正文内容的分隔线 -->
     <div class="splitter"></div>