	<!--顶部导航栏部分-->
<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" title="logoTitle" href="/admin/index">轻C物语管理控制台</a>
       </div>
       <div class="collapse navbar-collapse">
           <ul class="nav navbar-nav navbar-right">
               <li>
                  <div onload="show()" id = "show_time" class="screen-time">
				    <script>
				    	setInterval("show_time.innerHTML=new Date().toLocaleString()+' 星期'+'日一二三四五六'.charAt(new Date().getDay());",1000);
					</script>
			    </div>
               </li>
               <!-- <li role="presentation">
                   <a href="javascript:return false;">当前用户：<span class="badge">${staff.name}</span></a>
               </li> -->
               <li>
                   <a id="loginOut">
                      <span class="glyphicon glyphicon-lock"></span>退出登录</a>
                </li>
            </ul>
       </div>
    </div>      
</nav>
