@charset "UTF-8";
/* body > div > div{
	border: 2px;
	height: 50px;
	width: 100px;
} */

.hoverDiv{
  display:none;
  left:1px;
  top:1px;
  width:158px; 
  min-height:103px; 
  padding:10px;
  color:#000000;
  /* background:white;  */
  position:fixed; 
  z-index:999999; 
  /* border: 1px solid #5e4e3f; */
  border:1px solid #96c2f1;background:#eff7ff
  
 }
.box_man{
	width: 40%;
	height: 100%;
	float: left;
}
.title{
	width: 100%;
	height: 8%;
	padding-top: 20px;
	margin-left: 20px;
	margin-bottom: 20px;
}
.title > h4{
	font-size: 27px;
}
.button {
	width: 100%;
	height: 5%;
	padding-right:20px;
	text-align: right;
}
.button > button {
	margin-right:10px;
}
.box_type {
	margin-left: 20px;
	margin-top: 4%;
	margin-bottom: 1%;
	width: 94%;
	height: 20%;
	border:1px solid #bbe1f1;
	background:#eefaff;
	clear: none;
}
.box_type > .box_title{
	width: 130px;
	height: 100px;
	font-size: 20px;
	line-height: 120px;
	float: left;
	padding-left: 40px;
}
.box_type > .baoxiang {
	margin-left: 3%;
	margin-top:1.8%;
	width: 20%;
	height: 80%;
	/* border:1px solid red; */
	background-color:#b0e06c;
	float: left;
}
.box_type > .baoxiang:first-child {
	clear: both;
}
.box_type > .baoxiang > .box_name {
	font-size: 20px;
	text-align: center;
	padding-top: 10%;
}
.box_type > .baoxiang > .box_time {
	font-size: 20px;
	text-align: center;
	padding-top: 10%;
}
.box_type > .baoxiang > .come_time {
	font-size: 25px;
	text-align: center;
	padding-top: 10%;
}
.fenge{
	width: 1px;
	height: 130%;
	border-left: 1px solid black;
	float: left;
	background: url(https://fanyi-cdn.cdn.bcebos.com/static/translation/img/header/colorbar_623c2a2.png) center no-repeat;
}
.form-group{
	width: 100%;
	height: 20%;
	margin-top: 8%;
}
.yybh6{
	font-size: 15px;
	text-align: center;
}

.passenger_flow_man{
	width: 58%;
	height: 100%;
	padding-left: 2%;
	float: left;
}
.table {
	text-align: center;
}
.table > thead > tr > th{
	width: 10%;
	text-align: center;
}
.table > tbody > tr > td{
	line-height: 41px
}


body .layui-layer-page .layui-layer-btn .layui-layer-btn2{
	border-color: #cc6c1d;
	background-color: #cc6c1d;
	color: #fff;
}
body .layui-layer-page .layui-layer-btn .layui-layer-btn1{
	border-color: #884898;
	background-color: #884898;
	color: #fff;
}
body .layui-layer-page .layui-layer-btn .layui-layer-btn3{
	border-color: #f699b4;
	background-color: #f699b4;
	color: #fff;
}

body .layui-layer-dialog .layui-layer-btn .layui-layer-btn1{
	border-color: #884898;
	background-color: #884898;
	color: #fff;
}

