<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<meta name="baidu-site-verification" content="m5MzOzsVQm" />
<script src="/js/jquery-3.5.1.min.js" type="text/javascript" charset="utf-8"></script>
<script src="/bootstrap/js/bootstrap.min.js" type="text/javascript" charset="utf-8"></script>
<script src="/js/layer/layer.js" type="text/javascript" charset="utf-8"></script>
<link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css"/>
<title>轻C物语信息管理系统</title>
</head>
<body>
	<table class="table table-striped">
	  <caption><span style="font-size: 25px;margin-left: 10px;">员工管理</span><a href="/admin/editOrAddView" class="btn btn-info" style="float: right; margin-right: 100px;">
          <span class="glyphicon glyphicon-plus"></span> 添加新员工
        </a></caption>
	  <thead>
	    <tr>
	      <th>员工号</th>
	      <th>姓名</th>
	      <th>性别</th>
	      <th>年龄</th>
	      <th>生日</th>
	      <th>入职时间</th>
	      <th>级别</th>
	      <th>年假（天）</th>
	      <th>状态</th>
	    </tr>
	  </thead>
	  <tbody>
	  	<%for(staff in staffs.list){%>
		    <tr>
		      <td style="line-height: 35px;">${staff.id}</td>
		      <td style="line-height: 35px;"><!-- <div style="width: 95%;white-space: nowrap;overflow: hidden;text-overflow: ellipsis;"></div> -->${staff.name}</td>
		      <td style="line-height: 35px;">${staff.sex}</td>
		      <td style="line-height: 35px;">${staff.age}</td>
		      <td style="line-height: 35px;">${staff.birthday}</td>
		      <td style="line-height: 35px;">${staff.entryTime}</td>
		      <td style="line-height: 35px;">${staff.levelName}</td>
		      <td style="line-height: 35px;">${staff.holidays}</td>
		      <td style="line-height: 35px;">${staff.statusName}</td>
		      <td style="line-height: 35px;">
		      	<button type="button" class="edit btn btn-primary" value="${staff.id}"><span class="glyphicon glyphicon-edit"></span> &nbsp;编辑</button>
		      	<!-- <button type="button" class="del btn btn-danger" value="${staff.id}"><span class="glyphicon glyphicon-remove"></span> &nbsp;删除</button> -->
		      </td>
		    </tr>
		<%}%>
	  </tbody>
	  <tfoot>
	  	<tr>
	  		<td colspan = "8"><div class="fenye">
					<ul class="pagination">
						<%if(staffs.isHasPreviousPage){%>
						    <li><a href="/admin/staff?pageNum=${staffs.prePage}">&laquo;</a></li>
						<%}%>
						<%
						for(var i = 1;i<=staffs.pages;i++){%>
						    <li 
						    	<%if(i == staffs.pageNum){%>
						    		class="active"
								<%}%>
						    ><a href="/admin/staff?pageNum=${i}">${i}</a></li>
						<%}%>
						<%if(staffs.isHasNextPage){%>
						    <li><a href="/admin/staff?pageNum=${staffs.nextPage}">&raquo;</a></li>
						<%}%>
					</ul>
				</div></td>
	  	</tr>
	  </tfoot>
	</table>
</body>
</html>