<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<meta name="baidu-site-verification" content="m5MzOzsVQm" />
<script src="/js/jquery-3.5.1.min.js" type="text/javascript" charset="utf-8"></script>
<script src="/bootstrap/js/bootstrap.min.js" type="text/javascript" charset="utf-8"></script>
<script src="/js/layer/layer.js" type="text/javascript" charset="utf-8"></script>
<script src="/js/admin/index.js" type="text/javascript" charset="utf-8"></script>
<link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css"/>
<link rel="stylesheet" href="/css/admin/index.css"/>
<link rel="stylesheet" href="/css/kjzt/style.css"/>
<title>轻C物语信息管理系统</title>
</head>
<body>
	<%include("/public/admin_public_head.html"){}%>
<!-- 中间主体内容部分 -->
<div class="pageContainer">
	<%include("/public/admin_public_nav.html"){}%>
     <!-- 正文内容部分 -->
     <div class="pageContent">
       <iframe src="/admin/box/boxIndex" id="mainFrame" name="mainFrame"  frameborder="0" width="100%"  height="100%" >
       </iframe> 
     </div>

 </div>

<%include("/public/admin_public_foot.html"){}%>
 <script type="text/javascript">



 </script>
</body>
</html>