<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<meta name="baidu-site-verification" content="m5MzOzsVQm" />
<link rel="icon" href="/image/logo.jpg" type="image/x-icon"/>
<script src="/js/jquery-3.5.1.min.js" type="text/javascript" charset="utf-8"></script>
<script src="/bootstrap/js/bootstrap.min.js" type="text/javascript" charset="utf-8"></script>
<script src="/js/layer/layer.js" type="text/javascript" charset="utf-8"></script>
<script src="/js/admin/vip.js" type="text/javascript" charset="utf-8"></script>
<script type="text/javascript" src="/bootstrap/js/moment-with-locales.js" charset="UTF-8"></script>
<script type="text/javascript" src="/bootstrap/js/bootstrap-datetimepicker.js" charset="UTF-8"></script>
<script type="text/javascript" src="/bootstrap/js/bootstrap-datetimepicker.zh-CN.js" charset="UTF-8"></script>

<link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css"/>
<link href="/bootstrap/css/bootstrap-datetimepicker.min.css" rel="stylesheet" media="screen">
<title>轻C物语信息管理系统</title>
<script type="text/javascript">
	var staffList = eval('${staffList}');
	var flushs = eval('${flushs}');
</script>
<style type="text/css">
.form-group{
	width: 100%;
	height: 20%;
	margin-top: 8%;
}
.fenye{
	text-align:center;
}
.my-container {
    float: left;
    display: inline-block;
    margin-right:30px;
}

.myLabel-content ,.myText-content,.myBtn-content{
    float: left;
    display: inline-block;
    margin-left: 10px;
}
.myLabel-content,.myText-content input[type='text'],.myBtn-content .btn {
    height: 30px;
    font-size: 12px;
}
.myLabel-content {
    height: 30px;
    font-size: 20px;
}
.myBtn-content .btn {
    margin-bottom: 10px;
}
.table {
	text-align: center;
}
.table > thead > tr > th{
	width: 10%;
	text-align: center;
}
</style>
</head>
<body>
	<h1 style="font-size: 35px;margin-bottom: 20px;text-align:center;">会员管理</h1>
	 <caption><a class="btn btn-info" onclick="addVip()" style="float: right; margin-right: 100px;">
          <span class="glyphicon glyphicon-plus"></span> 添加新会员
        </a></caption>
	<div id="toolbar" style="height: 50px;">
	    <div class="my-container">
	        <label class="myLabel-content">手机号：</label>
	        <div class="myText-content">
	            <input id="phone" name="phone" value="${mobile}" type="text" class="form-control" placeholder="手机号后四位">
	        </div>
	        <label class="myLabel-content">姓名：</label>
	        <div class="myText-content">
	            <input id="vipname" name="vipname" value="${vipName}" type="text" class="form-control" placeholder="姓名">
	        </div>
	    </div>
	    <div class="myBtn-content">
	        <button id="search" type="button" class="btn btn-primary">搜索</button>
	        <button id="reset" type="button" class="btn btn-default">重置</button>
	    </div>
	</div>
	<table class="table table-striped"  id="vipTable" style="margin-top: 60px;">
	  <thead>
	    <tr>
	      <th style="width: 5%;">序号</th>
	      <th style="width: 7%;">姓名</th>
	      <th style="width: 5%;">性别</th>
	      <th style="width: 9%;">生日</th>
	      <th style="width: 9%;">电话</th>
	      <th style="width: 5%;">积分</th>
	      <th style="width: 7%;">等级</th>
	      <th style="width: 7%;">当前额度</th>
	      <th style="width: 7%;">累计消费</th>
	      <th style="width: 7%;">累计充值</th>
	      <!-- <th style="width: 7%;">推荐人</th> -->
	      <th style="width: 15%;">备注</th>
	    </tr>
	  </thead>
	  <tbody>
	  	<%for(vip in vips.list){%>
		    <tr>
		      <td style="line-height: 35px;">${vipLP.index}</td>
		      <td style="line-height: 35px;"><!-- <div style="width: 95%;white-space: nowrap;overflow: hidden;text-overflow: ellipsis;"></div> -->${vip.name}</td>
		      <td style="line-height: 35px;">${vip.sex}</td>
		      <td style="line-height: 35px;">${vip.birthday}</td>
		      <td style="line-height: 35px;">${vip.mobile}</td>
		      <td style="line-height: 35px;">${vip.score,'0.0'}</td>
		      <td style="line-height: 35px;">${vip.level}级 ${vip.levelName}</td>
		      <td style="line-height: 35px;">${vip.nowMoney}</td>
		      <td style="line-height: 35px;">${vip.sumConsume}</td>
		      <td style="line-height: 35px;">${vip.totalMoney}</td>
		      <!-- <td style="line-height: 35px;">${vip.back1}</td> -->
		      <td style="line-height: 35px;">${vip.remark}</td>
		      <td style="line-height: 35px;">
		      	<button type="button" class="edit btn btn-primary" value="${vip.id}" onclick="vipRecharge(${vip.id},'${vip.name}')"><span class="glyphicon glyphicon-edit"></span> &nbsp;充值</button>
		      	<%if(vip.level < 4){%>
		      		<button type="button" class="edit btn btn-primary" value="${vip.id}" onclick="vipLevelUpgrade(${vip.id},'${vip.name}')"><span class="glyphicon glyphicon-edit"></span> &nbsp;积分升等级</button>
		      	<%}%>
		      	<!-- <button type="button" class="del btn btn-danger" value="${vip.id}"><span class="glyphicon glyphicon-remove"></span> &nbsp;删除</button> -->
		      </td>
		    </tr>
		<%}%>
	  </tbody>
	  <tfoot>
	  	<tr>
	  		<td colspan = "11"><div class="fenye">
					<ul class="pagination">
						<%if(vips.isHasPreviousPage){%>
						    <li><a href="javascript:void(0)" onclick="fenye(${vips.prePage})">&laquo;</a></li>
						<%}%>
						<%
						for(var i = 1;i<=vips.pages;i++){%>
						    <li 
						    	<%if(i == vips.pageNum){%>
						    		class="active"
								<%}%>
						    ><a href="javascript:void(0)" onclick="fenye(${i})">${i}</a></li>
						<%}%>
						<%if(vips.isHasNextPage){%>
						    <li><a href="javascript:void(0)" onclick="fenye(${vips.nextPage})" >&raquo;</a></li>
						<%}%>
					</ul>
				</div></td>
	  	</tr>
	  </tfoot>
	</table>
</body>
</html>